.card__like-number {
  position: absolute;
  bottom: 5px;
  right: 27px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}