.popup__container {
  margin: auto;
  align-self: center;
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
