.popup__header {
  width: 358px;
  margin: 34px auto 38px 36px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 640px) {
  .popup__header {
    margin: 25px auto 64px;
    width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}
